#input-line input {
	width: 70px;
	float: left;
}

#input-line {
	display: none;
	width:100%;
	
}

input#summInput{
	width:25px!important;
}

.expense {width: 100%;}

#controls {
	font-size: xx-small;
}

#cont {
	width:100%;
}